---
layout: blank
---

{% if page.categories and {{page.categories}} != empty %}
{% capture category_content %}Category:&nbsp;&nbsp;<a href="{{ '/categories.html#' | prepend: site.baseurl }}{{ page.categories | array_to_sentence_string }}">{{ page.categories | array_to_sentence_string }}</a>{% endcapture %}
{% endif %}

{% assign post = page %}
{% if post.tags.size > 0 %}
	{% capture tags_content %}Tags:&nbsp;&nbsp;{% endcapture %}
	{% for post_tag in post.tags %}
		{% capture tags_content_temp %}{{ tags_content }}<a href="{{ '/tags.html#' | prepend: site.baseurl }}{{ post_tag }}">{{ post_tag }}</a>{% if forloop.last == false %},&nbsp;{% endif %}{% endcapture %}
		{% assign tags_content = tags_content_temp %}
	{% endfor %}
{% else %}
	{% assign tags_content = '' %}
{% endif %}



    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
		  <div class="category_tag_list">{{ category_content }}&nbsp;&nbsp;&nbsp;&nbsp;{{ tags_content }}</div>
		  <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}</p> 
      </header>
      <div>
{{ content }}
      </div>
      {% if site.comments.isso and page.comments %}
      <div id="isso-thread"></div>
      {% endif %}
      {% if site.comments.disqus and page.comments %}
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
    </article>
